.HomeScreen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: right;
}

.user-info {
  text-align: left !important;
}
